[Unit]
Description=Registry service container
After=docker.service
Requires=docker.service

[Service]
TimeoutStartSec=0
Restart=always
ExecStartPre=-/usr/bin/docker stop %n
ExecStartPre=-/usr/bin/docker rm %n
ExecStartPre=/usr/bin/docker pull registry:latest
ExecStart=/usr/bin/docker run --rm --name %n \
        -p 5000:5000 \
        -v /data/registry:/var/lib/registry \
        registry:latest

[Install]
WantedBy=multi-user.target
